<style>
            body {
                background-color: skyblue; }  
                h1 {
                    color: blue;
                    text-align: center;
                    font-size: 30px;
                }
                h2{
                  color: green;  
                }
                section {
                    width: 500px;
                    background-color: white;
                    padding: 20px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 25px;
                    border: 2px solid black;
                }
                img{
                    width: 500px; 
                    border: 2px solid red;
                }
                footer{
                   background-color: white;
                   text-align: center;  
                }
        </style>
